{% include 'Inc/header.html' %} 

<div class="ui container">
    <h1 class="centrartitulo">Actualizar: <i>{{ productos.nombre }}</i></h1> 
    <form action="" method="post" class="ui form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="two fields">
            <div class="four field">
                <label for="">Nombre del Producto:</label>
                <input type="text" name="nombre" id="nombre" value="{{ productos.nombre }}" required>
            </div>
            <div class="field">
                <label for="">Descripcion:</label>
                <input type="text" name="descripcion" id="descripcion" value="{{ productos.descripcion }}" required>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="">Precio:</label>
                <input type="number" name="precio" id="precio" value="{{ productos.precio }}" required>
            </div>
            <div class="field">
                <label for="">Cantidad del producto:</label>
                <input type="number" name="cantidad" id="cantidad" value="{{ productos.cantidad }}" required>
            </div>
        </div>
        <br>
        <div class="field">
            <div class="ui center aligned grid">
                <div class="column">
                    <label for="foto_url">Cambiar Foto del producto (opcional):</label>
                    <input type="file" name="foto_url" id="foto_url" style="text-align: center;">
                </div>
            </div>
        </div>
         <div class="centrarboton">
             <button type="submit" class="ui inverted green button">Guardar Producto</button>
         </div>
    </form>
</div>

{% include 'Inc/footer.html' %} 