{% load static %}
{% include 'Inc/header.html' %}

<div class="ui container">
    <h1 class="centrartitulo">Listado de Productos</h1>
    <div class="ui link cards">
        {% for p in productos %}
        <div class="card">
          <div class="image">
            <img src="{% static 'Img/Productos/' %}{{p.foto_url}}">
          </div>
          <div class="content">
            <div class="header">{{ p.nombre }}</div>
            <div class="description">
                {{ p.descripcion }}
                <br><br>
                Cantidad: {{ p.cantidad }}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
                <a href="/Producto/actualizar/{{ p.id }}"><i class="edit icon"></i></a>
                <a href="javascript:void(0);" onclick="confirmDelete('{{ p.id }}')"><i class="trash icon"></i></a>
            </span>
            <span>
              <i class="dollar sign icon"></i>
              {{ p.precio }}
            </span>
          </div>
        </div>
    {% endfor %}
</div>

<script>
  function confirmDelete(id) {
      Swal.fire({
          title: '¿Estás seguro?',
          text: "¡No podrás revertir esto!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Sí, borrar',
          cancelButtonText: 'Cancelar'
      }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = '/Producto/borrar/' + id;
          }
      })
  }
  </script>

{% include 'Inc/footer.html' %}