{% load static %}
{% include 'Inc/header.html' %} 

<div class="ui container">
    <h1 class="centrartitulo">Listado de los clientes</h1>
    <table class="ui basic table">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Correo Electronico</th>
            <th>Nombre del cargo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.nombres }}</td>
                <td>{{ c.apellidos }}</td>
                <td>{{ c.telefono }}</td>
                <td>{{ c.direccion }}</td>
                <td>{{ c.correoelectronico }}</td>
                <th>{{ c.cargo.nombre }}</th>
                <td>
                    <a href="/Clientes/actualizar/{{ c.id }}"><i class="pencil alternate icon"></i></a>
                    <a href="/Clientes/borrar/{{ c.id }}"><i class="trash icon"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% include 'Inc/footer.html' %} 