{% load static %}
{% include 'Inc/header.html' %} 

<div class="ui container">
    <h1 class="centrartitulo">Formulario de Factura</h1> 
    <form action="" method="post" class="ui form">
        {% csrf_token %}
        <div class="three fields">
            <div class="field">
                <label for="">Correo eléctronico cliente:</label>
                <input type="email" name="emailcliente" id="emailcliente" required>
                <input type="hidden" name="idcliente" id="idcliente">
            </div>
            <div class="field">
                <label for=""style="color: white;">.</label>
                <button onclick="consultarcliente();" type="button" class="ui inverted green button">Consultar Cliente</button>
            </div>
            <div class="field">
                <label for="">Fecha Factura</label>
                <input type="date" name="fechafactura" id="fechafactura">
            </div>
        </div>
        <br>
        <hr>
        <div class="four fields">
            <div class="field">
                <h3 id="nombrecliente">Nombre Cliente:.....</h3>
            </div>
            <div class="field">
                <h3 id="telefonocliente">Telefono Cliente.....</h3>
            </div>
            <div class="field">
                <h3 id="direccioncliente">Dirección Cliente.....</h3>
            </div>
            <div class="field">
                <h3 id="cargocliente">Cargo Cliente.....</h3>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="three fields">
            <div class="field">
                <label for="">Seleccione un producto</label>
                <select name="producto_id" id="producto_id">
                    {% for p in productos %}
                        <option value="{{p.id}}">{{ p.nombre }} - {{ p.precio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="">Cantidad de productos</label>
                <input type="number" name="cantidad" id="cantidad">
            </div>
            <div class="field">
                <label for="" style="color: white;">.</label>
                <button onclick="agregarproducto();" type="button" class="ui inverted green button">Agregar Producto</button>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <table class="ui basic table" id="tablafactura">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <br> 
          <hr>
          <br>
          <div class="field">
              <h3 id="totalfactura">Total de la Factura: $0 </h3>
              <input type="hidden" name="totalfacturainput" id="totalfacturainput">
          </div>

        <br><br><br>
        <div class="centrarboton">
            <button type="submit" class="ui inverted green button">Guardar Factura</button>
        </div>

        <br><br><br><br><br>
    </form>
</div>

<script>
var c = 1;
var totalfactura = 0;

function consultarcliente() {
    let emailcliente = document.getElementById("emailcliente").value;
    let rutaAPI = "/Clientes/API/" + emailcliente;

    fetch(rutaAPI)
        .then(data => data.json())
        .then(data => {
            if (data.length == 0) {
                alert('No se encontró ningún correo, por favor escríbalo bien');
                document.getElementById("nombrecliente").innerHTML = "Nombre del cliente: ";
                document.getElementById("telefonocliente").innerHTML = "Teléfono del cliente: ";
                document.getElementById("direccioncliente").innerHTML = "Dirección del cliente: ";
                document.getElementById("cargocliente").innerHTML = "Cargo del cliente: ";
            } else {
                document.getElementById("nombrecliente").innerHTML = "Nombre del cliente: <br><br>" + data[0].fields.nombres + " " + data[0].fields.apellidos;
                document.getElementById("telefonocliente").innerHTML = "Teléfono del cliente: <br><br>" + data[0].fields.telefono;
                document.getElementById("direccioncliente").innerHTML = "Dirección del cliente: <br><br> " + data[0].fields.direccion;
                document.getElementById("cargocliente").innerHTML = "Cargo del cliente: <br><br>" + data[0].fields.cargo;
                document.getElementById("idcliente").value = data[0].pk;
            }
        });
}

function agregarproducto() {
    var cantidadproducto = parseInt(document.getElementById('cantidad').value);
    var nombreproducto = $('#producto_id option:selected').text();
    var idproducto = document.getElementById('producto_id').value;
    var productocompleto = nombreproducto.split('-');
    var precio = parseInt(productocompleto[1]);
    var totalProducto = precio * cantidadproducto;

    var objetofila = document.getElementById("fila" + idproducto);

    if (objetofila == null) {
        totalfactura += totalProducto;
        document.getElementById("totalfacturainput").value = totalfactura;

        $('#tablafactura').append("\
            <tr id='fila" + idproducto + "'>\
                <td><input type='hidden' name='idproductoinput[]' value='"+idproducto+"'>"+c+"</td>\
                <td>" + productocompleto[0] + "</td>\
                <td>" + productocompleto[1] + "</td>\
                <td>" + precio + "</td>\
                <td id='cantidadproducto" + idproducto + "'>" + cantidadproducto + "</td><input type='hidden' name='cantidadproductoinput[]' id='cantidadproductoinput"+idproducto+"' value='"+cantidadproducto+"'>\
                <td id='totalproducto" + idproducto + "'>" + totalProducto + "</td>\
                <td class='acciones' style='cursor: pointer;'>\
                    <i onclick='borrarproducto(" + idproducto + ")' class='trash icon'></i>\
                    <i onclick='actualizarcantidad(" + idproducto + ", -1)' class='minus icon'></i>\
                    <i onclick='actualizarcantidad(" + idproducto + ", 1)' class='plus icon'></i>\
                </td>\
            </tr>");
        c++;
    } else {
        var cantidadactual = parseInt(document.getElementById('cantidadproducto' + idproducto).textContent);
        totalfactura -= parseInt(document.getElementById('totalproducto' + idproducto).textContent);
        cantidadactual += cantidadproducto;
        totalProducto = cantidadactual * precio;
        document.getElementById('cantidadproducto' + idproducto).innerHTML = cantidadactual;
        document.getElementById('totalproducto' + idproducto).innerHTML = totalProducto;
        document.getElementById('cantidadproductoinput'+idproducto).value =  cantidadactual;
        totalfactura += totalProducto;
    }

    document.getElementById("totalfactura").innerHTML = "Total de la Factura: $" + Math.round(totalfactura);
    document.getElementById("totalfacturainput").value = totalfactura;

    
}

function borrarproducto(idproducto) {
    var cantidadproductoElem = document.getElementById('cantidadproducto' + idproducto);
    var cantidadactual = parseInt(cantidadproductoElem.textContent);
    var totalProducto = parseInt(document.getElementById('totalproducto' + idproducto).textContent);

    totalfactura -= totalProducto;

    $("#fila" + idproducto).remove();

    document.getElementById("totalfactura").innerHTML = "Total de la Factura: $" + Math.round(totalfactura);
}

function actualizarcantidad(idproducto, cambio) {
    var cantidadproductoElem = document.getElementById('cantidadproducto' + idproducto);
    var cantidadactual = parseInt(cantidadproductoElem.textContent);
    var precio = parseInt($('#producto_id option[value="' + idproducto + '"]').text().split('-')[1]);

    cantidadactual += cambio;
    if (cantidadactual < 1) {
        cantidadactual = 1; // Evitar cantidades menores a 1
    }

    var totalProducto = cantidadactual * precio;
    var totalFila = parseInt(document.getElementById('totalproducto' + idproducto).textContent);

    totalfactura -= totalFila;
    document.getElementById('cantidadproducto' + idproducto).innerHTML = cantidadactual;
    document.getElementById('totalproducto' + idproducto).innerHTML = totalProducto;
    totalfactura += totalProducto;

    document.getElementById("totalfactura").innerHTML = "Total de la Factura: $" + Math.round(totalfactura);
}


</script>

{% include 'Inc/footer.html' %} 